## Titanic Task 

Use the Titanic dataset provided to perform your analysis. Provide an indepth and creative EDA on the data set.

# I have load the CSV File "Titanic.CSV" and read in to Jupyter and requested to present the first 5 rows with all the comlumns.

In [ ]:
df = pd.read_csv("Titanic.csv") 
df.head(5)

# Using the .info function i am checking all columns for any non-null values and checking the date types, at first glance, 7 numerical values
# with 5 object values which will be in the form of a string

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

# Now Checking all columns if we have any empty rows within our columns, This highlights we have missing data from Age = "177" missing values 
#Cabin = " 687" missing Values and Embarked = "2" missing values. The age catorgrey having missing values of 177, will represent 20% of the missing 
#data from the total 891 rows. So will need to be replaced with the mean.

In [ ]:
df["Age"].fillna(df["Age"].mean(), inplace = True)
df.isnull().sum()

# The Embarked column also had 2 missing values, I have now replaced these values with "u" to represent unknown, as the amount missing from the data
# set is minimal and the has catorgorical value should not affect an future plots. As cabin has alot of missing data " 687" values i am going to drop that column entirely 
# from the data set.

In [ ]:
df.Embarked.fillna("U", inplace = True)

In [ ]:
df = df.drop(["Cabin","PassengerId",], axis=1)

# The Data set now has no missing values so will now begin to explore the data set, for patterns relationships, i am going to start by plotting,
# the amount of people who lived and died from the ship.

In [ ]:
df.isnull().sum()

# The graph below show a visual representation of the distribution of the amount people that died and survied of the,
# 891 passengers that were on board. Represented by red for the 500+ that died and green for the 300+ that survived.

In [ ]:
sns.set_style('whitegrid')
sns.countplot(x='Survived', data = df, palette=['Red','green'])

# A plot of the genders of the guest on ship that survived.

# The graph below indicates that More females, survived then males, from this lets see how many
# parent and childern that were on boarded survived.

In [ ]:

survived_df = df[df['Survived'] == 1]
sns.countplot(x='Survived',hue='Sex', data=survived_df, palette=['pink','blue'])

In [ ]:
df['Parch'].unique().sum()

# From the data we can identify that individuals with at least more than 3 parent/ children didn't survive and  women and childeren were probably
# not first on the life boats. As you can clear see individuals with no parents or childeren have the highest count of survival rate,
# compared to those who had 1 or 2 childeren.

In [ ]:
ax = sns.countplot(x='Survived', hue='Parch', data=df)
ax.set_xticklabels(['Not Survived', 'Survived'])
ax.set_xlabel('Survived')
ax.set_ylabel('Count')

# The graph below shows age demographic of the individuals in each class, in first clase 50% of individuals,
# are aged between 29 and 47 years old. In second class we have a few outliers however they don't affect the representation 
# that 50% were aged between 23 - 45 With the upper quartile of 25% aged between 45 and 65 and the lower quartile 23 - 4. In 3rd 
# class thier is a few outliers that are affecting the box plot however 50% of them is aged between 20 - 30 years old.

In [ ]:
plt.figure(figsize=(12,7))
sns.boxplot(x='Pclass', y = 'Age', data=df, palette='winter')

# First observations of the Count plot the 3rd class passengers more than 50% of them died in the accident more than 350 individuals,
# Individuals in second class have a Half of them survived half of them didn't so it was a 50 / 50 split, from this You can assume that 
# Second class passenger's didn't have much influence as compared to the 1st class passengers as more than 50% of individuals survived the 
# accident around 145 out of the 216 1st class passengers. In regards to the question " In the movie, the upper-class passengers were given preference on
# lifeboats. Does this show in the data?" I would say yes the first and Second class had a much better chance of being on a life boat compared to the 1437 
# souls that didn't.

In [ ]:
mp = sns.countplot(x='Pclass', hue='Survived', data=df, palette='winter')
mp.set_title("Count of Survivors and Non-Survivors by Pclass")
mp.set_xlabel("Pclass")
mp.set_ylabel("Passenger Count")
mp.set_xticklabels(['First Class', 'Second Class ','Third Class'])

In [ ]:

total_pclass_1 = df[df['Pclass'] == 1]['Pclass'].sum()
print("The total number of passengers in 1st class is :",total_pclass_1)

total_pclass_2 = df[df['Pclass'] == 2]['Pclass'].sum()
print("The total number of passengers in 2nd class is :",total_pclass_2)

total_pclass_3 = df[df['Pclass'] == 3]['Pclass'].sum()
print("The total number of passengers in 3rd class is :",total_pclass_3)

In [ ]:
ax = sns.catplot(x ='Embarked', hue ='Survived', 
kind ='count', col ='Pclass', data = df )
ax.set_xticklabels(['Southampton', 'Cherbourg','Queenstown'])

# In conclusion the most determining factor in determining if you survivded the titantic incident would seem to be your class 
# as their is vast majority made it back, however if you was a women thier was also a high percentage that you, would have 
# survived also, it doesn't seem to matter if you had Childeren as the first class passenger's took priority over that.